@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 33% 88%;
    --foreground: 0 0% 5%;
    --section-background: 0 0% 100%;
    --section-foreground: 0 0% 20%;
    --card: 0 0% 92%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 151 82% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 213 12% 18%;
    --muted: 0 0% 63%;
    --muted-foreground: 0 0% 63%;
    --accent: 151 82% 59%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0, 100%, 59%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 0 0% 96%;
    --ring: 151 82% 59%;
    --radius: 18px;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 95%;
    --section-background: 0 0% 0%;
    --section-foreground: 0 0% 95%;
    --card: 213 15% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 151 82% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 12% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 63%;
    --muted-foreground: 0 0% 63%;
    --accent: 151 82% 59%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0, 100%, 59%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 220 12% 20%;
    --ring: 151 82% 59%;
    --radius: 18px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e323a;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e323a;
}
